.toy-filter {
    display: flex;
    flex-wrap: wrap;
    margin-block: 20px;
    gap: 20px;

}

.toy-filter>section {
    display: flex;
    flex-direction: column;
}

.toy-filter>section:last-of-type {
    justify-content: end;
}